target-version = "py310"

[lint]
exclude = ["docs/*"]
select = ["ALL"]
extend-ignore = [
    "ANN401",
    "COM812",
    "D105",
    "D107",
    "DTZ",
    "EM",
    "ERA001",
    "FBT",
    "FIX002",
    "PLR2004",
    "TD003",
    "TRY003",
]

[lint.pyupgrade]
keep-runtime-typing = true

[lint.per-file-ignores]
"__init__.py" = ["F403", "PLC0414"]
"tests/*" = ["ANN", "D", "S101", "S311"]
"tests/pep526_*.py" = ["N802", "N803", "I002"]

[lint.isort]
force-single-line = true
known-first-party = ["binobj"]
lines-after-imports = 2
order-by-type = false
required-imports = ["from __future__ import annotations"]

[lint.mccabe]
max-complexity = 9

[lint.flake8-annotations]
mypy-init-return = true

[lint.pydocstyle]
convention = "google"
