pylint~=1.6; python_version<"3.6"
pylint~=1.7; python_version>="3.6"
pytest~=3.3; python_version>="3.4"
pytest>=3.0, <3.3; python_version<"3.4"
pytest-cov~=2.0
pytest-randomly~=1.0
Sphinx~=1.6
sphinx_rtd_theme~=0.2
