pytest==6.2.5  ; python_version>="3.6"
pytest==6.1.2  ; python_version<"3.6"
pytest-cov==2.12.1
pytest-randomly==3.10.1  ; python_version>="3.6"
pytest-randomly==3.5.0  ; python_version<"3.6"
coverage-pyver-pragma==0.3.0  ; python_version>="3.6"


# Indirect dependencies go below this line. Avoid pinning them any tighter than necessary.
# You should only add dependencies here that require pinning to ensure certain features or
# bugfixes are present.
coverage>=5.5
