name: CI

on: [ push ]

jobs:
  testing:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.10"
            tox-env: py310
          - python-version: "3.11"
            tox-env: py311
          - python-version: "3.12"
            tox-env: py312
          - python-version: "3.13"
            tox-env: py313
          - python-version: "pypy-3.10"
            tox-env: pypy310
          - python-version: "3.13"
            tox-env: mypy
          - python-version: "3.13"
            tox-env: lint
          - python-version: "3.13"
            tox-env: format
    steps:
    - uses: actions/checkout@v4.2.2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5.3.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Pre-installation requirements
      run: pip3 install -U pip wheel setuptools -r dev-requirements.txt
    - name: Run tests
      run: tox -e ${{ matrix.tox-env }}
